<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>LocalTripHub</h1>
    <div class="d-flex justify-content-between">
      
        <%= render "colored_prefmap" %>
      
        <%= render "colored_citymap" %>
      
    </div>
  </div>
  <br>
</div>