<footer id='footer' class='footer-bottom bg-dark-subtle'>

  <div class="sp">
    <ul class="other d-flex justify-content-center">
      <li class="mx-3"><%= link_to "プライバシーポリシー", "#" %></li>  <!-- privacypolicy -->
      <li class="mx-3"><%= link_to "ご利用規約", "#" %></li>  <!-- sitepolicy -->
      <li class="mx-3"><%= link_to "お問い合わせ", "#" %></li>  <!-- contact -->
    </ul>
  </div>
  <div class="text-center">
    <small>© LocalTripHub ALL RIGHTS RESERVED.</small>
  </div>
</footer>