<footer id='footer' class='footer-bottom bg-dark-subtle'>

  <div class="sp">
    <ul class="other d-flex justify-content-center">
      <li class="mx-3"><%= link_to t('footer.privacy_policy'), "#" %></li>  <!-- privacypolicy -->
      <li class="mx-3"><%= link_to t('footer.site_policy'), "#" %></li>  <!-- sitepolicy -->
      <li class="mx-3"><%= link_to t('footer.contact'), "#" %></li>  <!-- contact -->
    </ul>
  </div>
  <div class="text-center">
    <small>© LocalTripHub ALL RIGHTS RESERVED.</small>
  </div>
</footer>