<div class="col-lg-8 offset-lg-2">
  <h1>投稿一覧<h1>

  <%= render "spots/spot_block" %>

  <%= render "posts/post_block" %>

  <div class="mb-3">
    <%= link_to "このスポットについて新規投稿する", new_spot_post_path(@spot), class: "btn btn-primary" %>
  </div>
</div>